.multi-select-dropdown {
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ms-BasePicker-text {
  width: 100% !important;
}

.ms-Suggestions-container {
  width: 100%; 
}

.ms-BasePicker-text {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  background-color: transparent !important; 
}



